.wishlistIconContainer--wishList-icon :global(.vtex-button){
    border-color: black;
    width: 44px;
    height: 32px;
    align-self: self-end !important;
    min-height: auto;
}
.wishlistIcon--wishList-icon{
    background-image: url('/arquivos/heart.png') !important;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-right: 7px;
}
/*-------VERSION PHONE-----*/
@media (max-width: 767px){
    .wishlistIconContainer--wishList-icon :global(.vtex-button){
        width: 33px;
        height: 24px;
    }
    .wishlistIcon--wishList-icon{
        margin-right: 17px;
    }
}