.sliderLayoutContainer--global__slider-shelf {
    padding-left: 80px;
    padding-right: 80px;
 }
.caretIcon--global__slider-shelf {
    width: 24px !important;
    height: 24px !important;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 4px;
    margin-bottom: 94px;
    overflow: visible;
    fill: none;
}
.sliderLayoutContainer--global__slider-shelf :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left: 24px !important;
    top: 50%;
    transform: translateY(-50%);
 }
 .sliderLayoutContainer--global__slider-shelf :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right: 24px !important;
    top: 50%;
    transform: translateY(-50%);
 }
 .paginationDotsContainer--global__slider-shelf {
    display: flex;
    align-items: center;
    height: 50.89px;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 1;
 }
.paginationDot--global__slider-shelf {
    width: 44px !important;
    height: 40px !important;
    border-radius: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    z-index: 2;
}
 
/*----------MOBILE-----------*/
@media (max-width: 1024px){
    .sliderLayoutContainer--global__slider-shelf :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
        display: none;
    }
    .sliderLayoutContainer--global__slider-shelf :global(.vtex-slider-layout-0-x-sliderRightArrow) {
        display: none;
    }
    .paginationDotsContainer--global__slider-shelf {
        width : 231px;
        margin: 0 auto;
    }
    .paginationDot--global__slider-shelf {
        width: 25px !important;
    }
    .sliderLayoutContainer--global__slider-shelf {
        padding-left : 0% !important;
        padding-right: 0% !important;
    }
    .sliderLayoutContainer--global__slider-shelf :global(.vtex-slider-layout-0-x-paginationDot)::after {
        width: 25px;
    }
} 