.brandName--product-summary__name {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    color:rgba(29, 39, 52, 0.6);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.nameContainer--product-summary__name{
    padding-top: 0px;
    padding-bottom: 0px;
}
.priceContainer--product-summary__price {
    padding-top: 0px;
    padding-bottom: 0px;
}
.sellingPriceLabel--product-summary__price{
    text-align: left;
}
.price_listPriceLabel--product-summary__price{
    font-size: 14px;
    color: rgba(29, 39, 52, 0.4);    
}
.price_installmentContainer{
    display: none;
}
.imageWrapper--image-shelf {
    display: flex;
    align-items: center;
    justify-content: center;
}
.element--global__product-summary {
    display: flex;
    width: 100%;
    max-height: 378px;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 0%;
    padding-top: 0%;
    padding-right: 8px;    
}
