.buttonText--product-summary-buy-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    text-align: center;
    color: #1D2734;
    text-transform: capitalize;
}
.buttonDataContainer--product-summary-buy-button {
    display: flex;
    align-items: center;
    gap: 5px;
}
.buttonDataContainer--product-summary-buy-button::before {
    content: url("/arquivos/add_shopping_cart.png");
    width: 20px;
    height: 20px;
}
/*----------VERSION MOBILE----------*/
@media only screen and (max-width: 1024px) {
    .buttonText--product-summary-buy-button {
        font-size: 11px;
        font-weight: 400;
        line-height: 13.3px;
        text-align: center;
    }
    .buttonDataContainer--product-summary-buy-button::before {
        width: 15px;
        height: 15px;
    }
}