.nameContainer--product-summary__name{
/*    max-height: 51px;*/
}
.brandName--product-summary__name {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    color:rgba(29, 39, 52, 0.6);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.priceContainer--product-summary__price {
    /*display: flex;*/
    max-height: 51px;
    text-align: left;
    /*padding-top: 8px;*/
}
.price_listPriceLabel--product-summary__price{
    height: 17px !important;
    font-size: 14px;
    color: rgba(29, 39, 52, 0.4);    
}
.price_installmentContainer{
    display: none;
}
.imageWrapper--image-shelf {
    display: flex;
    align-items: center;
    justify-content: center;
}
.element--global__product-summary {
    width: 212px !important;
    height: 378px !important;
    padding-bottom: 0%;
    padding-top   : 0%;
}
