.productHighlightWrapper--product-highlight__wrapper{
    text-align: left;
    color: #FA2080;
    font-size: 14px;
    font-weight: 400;
}
.productHighlightText--product-highlight__wrapper{
    padding-right: 5px;
}
/*-------VERSION PHONE-----*/
@media (max-width: 767px){
    .productHighlightWrapper--product-highlight__wrapper{
        font-size: 12px;
    }
    .productHighlightText--product-highlight__wrapper{
        padding-right: 15px;
    }
}