.logoContainer{
    padding-left: 0;
}
/*.searchIcon{
    visibility: hidden;
    position: relative;
}
.searchIcon::after{
    content: url("/arquivos/search.svg");
    visibility: visible;
    width: 16px;
    height: 16px;
}*/

/*---VERSION DESKTOP----*/
/*MINI CART*/
@media only screen and (min-width: 1024px) {
    .imageElement--image__empty--cart{
        width: 200px;
        height: 200px;
        padding-bottom: 0px;
    }
}