.logoContainer{
    padding-left: 0;
}

/*---VERSION DESKTOP----*/
/*MINI CART*/
@media only screen and (min-width: 1024px) {
    .imageElement--image__empty--cart{
        width: 200px;
        height: 200px;
        padding-bottom: 0px;
    }
}