/*ESTO ES DEL TEXTO DE LOS RICH TEXT QUE ESTAN ENTRE LA SEARCH BAR Y EL MINICART*/
:global(.vtex-rich-text-0-x-wrapper){
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
}

/*-----VERSION DESKTOP-----*/
/*MINI CART*/
@media only screen and (min-width: 1024px) {
    .wrapper--minicart__empty-title{
        font-size: 14px;
        font-weight: bold;
    }
    .wrapper--minicart__empty-text2{
        padding-top: 0px;
        font-size: 12px;
    }
    .wrapper--minicart__title{
        font-size: 14px;
        font-weight: bold;
    }
    .container--minicart__title{
        width: 165px;
    }
}