.container :global(.vtex-button){
    background-color: black;
    border-radius: 40px;
    width: 80px;
    height: 40px;
}
.label{
    visibility: hidden;
}
.label::after{
    visibility: visible;
    content: "Login";    
    padding-right: 65px;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: lowercase;
}
.label::first-letter{
    text-transform: capitalize;
}