.flexCol--global__pdp-image {
    box-sizing: border-box;
    padding-right: 2rem;
}
.flexRow--global__pdp-product {
    margin-top: 2rem;
}
.flexRowContent--global__pdp-information .stretchChildrenWidth {
    display: flex;
    flex-direction: row;
}
.flexRow--global__pdp-description .stretchChildrenWidth{
    display: grid;
    justify-content: left;
}
.flexColChild--global__pdp-information:empty {
    display: none;
}
.flexColChild--global__pdp-information .productSKUAttributesContainer:empty {
    display: none;
}
.flexRow--global__pdp-cart {
    width: 100%;
}
.flexRowContent--global__pdp-highlights {
    display: flex;
    width: 200px;
    margin-bottom: 13px;
    margin-top: 1rem;
    gap: 8px;
}