.groupName--global__pdp-group--text{
    margin-left: 15%;
}
.specificationName {
  box-sizing: border-box;
  grid-column: 1;
  padding: 1rem;
}
.specificationValue {
  box-sizing: border-box;
  grid-column: 2;
  padding: 1rem;
}