.menuContainer--global__menu-icons{
    justify-content: center;
}

.menuContainerNav--global__menu-icons .styledLinkContent{
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    overflow: auto;
}

.menuContainerNav--global__menu-icons{
    overflow: auto;
    background-color: #fff;
    align-items: center;
}