.flexRow--drawer-header :global(.vtex-flex-layout-0-x-flexRowContent--drawer-header) {
    display: flow-root;
}
.flexRow--drawer-header :global(.vtex-store-components-3-x-logoImage) {
    margin-top: 29px;
    margin-left: 16px;
}
.flexCol--trigger-mega-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.6rem;
}
.flexRow--header-container-menu-desktop-section-one-rigth {
    margin-left: 35px;
}
.flexRowContent--header-container-menu-desktop-section-one-right {
    margin-top: 25px;
}