.drawer {
    display: flex;
    justify-content: space-around;
}
.drawerContent {
    position: relative;
    overflow-y: unset;
}
.minicartSideBarContentWrapper{
      min-height: 96vh;
}
.minicartEmptyStateContainer{
    height: auto;
}
:global(.vtex-minicart-2-x-closeIconContainer){
    position: relative;
    background-image: url(/arquivos/logo_black.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 16px;
}
:global(.vtex-minicart-2-x-closeIconButton){
    margin-left: auto;
}
:global(.vtex-minicart-2-x-minicartTitle){
    display: none;
}
.minicartSummary--minicart-summary{
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(231, 231, 231, 1);
}
/*--BOTON CHECKOUT SI ESTA VACIO DEL CARRITO*/
.minicartCheckoutButton--minicart__empty :global(.vtex-button) {
    width: 328px;
    height: 48px;
    color: #1d2734;
    background-color: #fff;
    left: 16px;
    border: 1px solid #1d2734;
    border-radius: 40px;
    padding: 10px;
}
.minicartCheckoutButton--minicart__empty :global(.vtex-button__label){
    font-size: 0;
}
.minicartCheckoutButton--minicart__empty :global(.vtex-button__label)::after {
    content: "Finalizar tu compra";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: center;
    text-transform: capitalize;
}
/*--BOTON CHECKOUT SI TIENE ELEMENTOS DEL CARRITO*/
.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button) {
    width: 328px;
    height: 48px;
    color: #fff;
    background-color: #1d2734;
    left: 16px;
    border: 1px;
    border-radius: 40px;
    padding: 10px;
}
.minicartCheckoutButton :global(.vtex-button__label){
    font-size: 0;
}
.minicartCheckoutButton :global(.vtex-button__label)::after {
    content: "Finalizar tu compra";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    text-align: center;
    text-transform: capitalize;
}
/*---VERSION MOBILE---*/
@media (max-width: 767px) {
    .opened{
        width: 100% !important;
        max-width: 100% !important;
    }
}