.flexCol--global__miniCart-container{
    display: flex;
    /*min-height: 20%;
    max-height: 90%;*/
    justify-content: space-between;
    overflow: hidden;
}
.flexColChild--global__miniCart-container{
    background-color: white;
    height: auto !important;
}
.flexColChild--global__miniCart-container:last-child{
    overflow: unset;
}
.flexColChild--global__miniCart-container:first-child {
    scrollbar-color: #BEBEBE #F2F2F2;
    scrollbar-width: thin;
    padding: 0;
    min-height: 20%;
    max-height: 80%;
    margin: 10px 0px;
    overflow: auto;
}
/*---VERSION MOBILE---*/
@media only screen and (max-width: 1024px){
    .flexColChild--global__miniCart-container{
        height: 100% !important;
    }
}
